{% extends "layout.html" %}

{% block title %}{{ super() }} | Contact{% endblock %}

{% block app_content %}
  <main>
    <div class="row">
      <div class="col-md-3">
        <div class="small-side-bar">
          <h5><a href="/whoweare">CONTACT US</a></h5>
          <ul>
            <li><a href="#">Directions/Parking</a></li>
            <li><a href="#">Career Opportunities</a></li>
          </ul>
          <a href="/where">
          <figure>
            <img style="width:100%; max-width:200px" src="/static/images/content-navlink-news.jpg" alt="Map" />
            <figcaption>
              <h6>News & Events</h6>
              <p>Read the most current information about our firm.</p>
            </figcaption>
          </figure></a>
        </div> <!-- End side bar div -->
      </div> <!-- End side bar columns -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <img src="/static/images/content-05-contact.jpg" alt="Image" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="inner-content">The office hours are 8am – 5pm Monday through Friday<br/><br/>
                689 East South Street<br/>
                Suite 4210<br/>
                Houston, Texas 09345<br/><br/>
                PH:	332.332.8980<br/>
                FAX:	332.323.5477<br/><br/>
                Contact: Rosemary Sage at <a href="mailto:me@me.com">me@lzblaw.com</a></p>
              </div>
            </div>
          </div> <!-- End middle content -->
          <div class="col-md-4">
            <div class="right-side-nav">
              <a href="/where">
              <figure class="right-bar-margin">
                <img style="width:100%; max-width:200px" src="/static/images/content-link-where.jpg" alt="Map" />
                <figcaption>
                  <h6>Where We Work</h6>
                  <p>Find out more about our work coverage area.</p>
                </figcaption>
              </figure></a>
              <a href="/where">
              <figure class="right-bar-margin extra-top-padding">
                <img style="width:100%; max-width:200px" src="/static/images/content-link-reputation.jpg" alt="Map" />
                <figcaption>
                  <h6>Reputation</h6>
                  <p>Read about our admirable reputation.</p>
                </figcaption>
              </figure></a>
            </div>
          </div> <!-- End side-bar-nav on right -->
        </div> <!-- End header row -->
        <div class="row">
        </div> <!-- End list of places row -->
      </div> <!-- End columns for content col-9 -->
    </div> <!-- End row for main content -->
  </main>
{% endblock %}
