{% extends "layout.html" %}

{% block title %}{{ super() }} | What{% endblock %}

{% block app_content %}
  <main>
    <div class="row">
      <div class="col-md-3">
        <div class="small-side-bar">
          <h5><a href="/what">WHAT WE DO</a></h5>
          <ul>
            <li class="sub-header"><a href="#">Subrogation</a></li>
            <ul class="sub-list">
              <li><a href="#">Property</a></li>
              <li><a href="#">Workers'<br/>Compensation</a></li>
            </ul>
            <li class="sub-header"><a href="/attorneys">Litigation</a></li>
            <ul class="sub-list">
              <li><a href="#">Appellate</a></li>
              <li><a href="#">Commercial</a></li>
              <li><a href="#">Defense</a></li>
              <li><a href="#">Labor/Employment</a></li>
            </ul>
            <li class="sub-header"><a href="#">Business</a></li>
            <ul class="sub-list">
              <li><a href="#">Brokerage Agreement</a></li>
              <li><a href="#">Business Formation</a></li>
              <li><a href="#">Business Related Contracts</a></li>
              <li><a href="#">Labor/Employment</a></li>
            </ul>
            <li class="sub-header-bottom"><a  href="#">Transportation</a></li>
          </ul>
          <a href="/where">
          <figure>
            <img style="width:100%; max-width:200px" src="/static/images//content-navlink-attorneys.jpg" alt="Map" />
            <figcaption>
              <h6>Attorneys</h6>
              <p>Meet our prestigious partners and esteemed associates.</p>
            </figcaption>
          </figure></a>
        </div> <!-- End side bar div -->
      </div> <!-- End side bar columns -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <p>What we do at Bigshot Zoo & Adds PC is prevent our client’s problems in some cases, solve their problems in other cases, and ultimately, if the problems cannot be prevented or solved, prepare to take the problems to trial and WIN. Our attorneys, who view themselves as problem solvers, have tried more cases to a jury or judge than most law firms collectively. Whether the problem is a lawsuit, business deal, or formation of a new business, we have the skill, experience, and business acumen to help our clients.</p>
          </div> <!-- End p -->
        </div> <!-- End row 1 -->
        <div class="row">
          <div class="col-md-6">
            <a href="/"><img src="/static/images//sub-02-subrogation.jpg" alt="Image"/></a>
          </div>
          <div class="col-md-6">
            <a href="/attorneys"><img src="/static/images//sub-02-litigation.jpg" alt="Image"/></a>
          </div> <!-- End 2 columns of images -->
        </div> <!-- End row 2 -->
        <div class="row">
          <div class="col-md-6">
            <a href="#"><img src="/static/images//sub-02-business.jpg" alt="Image"/></a>
          </div>
          <div class="col-md-6">
            <a href="#"><img src="/static/images//sub-02-warehouse.jpg" alt="Image"/></a>
          </div> <!-- End 2 columns of images -->
        </div> <!-- End row 3 -->
      </div> <!-- End columns for content col-9 -->
    </div> <!-- End row for main content -->
  </main>
{% endblock %}
