{% extends "layout.html" %}

{% block title %}{{ super() }} | Who{% endblock %}

{% block app_content %}
  <main>
    <div class="row">
      <div class="col-md-3">
        <div class="small-side-bar">
          <h5><a href="/whoweare">WHO WE ARE</a></h5>
          <ul>
            <li><a href="/">Welcome</a></li>
            <li><a href="/attorneys">Attorneys</a></li>
            <li><a href="/">Staff</a></li>
            <li><a href="/">Reputation</a></li>
            <li><a href="/">History</a></li>
          </ul>
          <a href="/where">
          <figure>
            <img style="width:100%; max-width:200px" src="/static/images/content-navlink-where.jpg" alt="Map" />
            <figcaption>
              <h6>Where We Work</h6>
              <p>Find out more about our work coverage area.</p>
            </figcaption>
          </figure></a>
        </div> <!-- End side bar div -->
      </div> <!-- End side bar columns -->
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <p>Who we are? That is one of the most important questions a prospective client can ask us. Our answer – one of the most respected law firms in the country that cares about your case, your business, and solving your problem. We invite you to get to know our attorneys better and understand the depth of experience and talent we have in the links below.</p>
          </div> <!-- End p -->
        </div> <!-- End row 1 -->
        <div class="row">
          <div class="col-md-6">
            <a href="#"><img src="http://placehold.it/288x113" alt="Image"/></a>
          </div>
          <div class="col-md-6">
            <a href="/attorneys"><img src="/static/images/sub-01-attorneys.jpg" alt="Image"/></a>
          </div> <!-- End 2 columns of images -->
        </div> <!-- End row 2 -->
        <div class="row">
          <div class="col-md-6">
            <a href="#"><img src="/static/images/sub-01-staff.jpg" alt="Image"/></a>
          </div>
          <div class="col-md-6">
            <a href="#"><img src="/static/images/sub-01-reputation.jpg" alt="Image"/></a>
          </div> <!-- End 2 columns of images -->
        </div> <!-- End row 3 -->
        <div class="row">
          <div class="col-md-6">
            <a href="#"><img src="/static/images/sub-01-history.jpg" alt="Image"/></a>
          </div> <!-- End 1 column of images -->
        </div> <!-- End row 4 -->
      </div> <!-- End columns for content col-9 -->
    </div> <!-- End row for main content -->
  </main>
{% endblock %}
